gunicorn==19.6.0
flask==0.12
bokeh==0.12.5
jinja2==2.9.4
aiohttp==2.0.7
numpy==1.11.3
scipy==0.18.1
requests==2.12.4
scikit-learn==0.18.1
pandas==0.19.2
simplekv==0.10.0
Flask-KVSession==0.6.2
redis==2.10.5