<!doctype html>
<title>Pubmed Statistics</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css')}}">

<head>
  <script type="text/javascript">
    function Expand(obj) {
      if (!obj.savesize) obj.savesize = obj.size;
      obj.size = Math.max(obj.savesize, obj.value.length);
    }

    function showDiv(s) {
      var x = document.getElementById(s);
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }

    function swapDiv(o1, o2) {
      var d1 = document.getElementById(o1);
      var d2 = document.getElementById(o2);
      if (d1.style.display === 'none') {
        d1.style.display = 'block';
        d2.style.display = 'none';
      } else {
        d1.style.display = 'none';
        d2.style.display = 'block';
      }
    }
  </script>

</head>
<body>
<div class=page>
  <h2></h2>
  <h1>Pubmed Statistics</h1>
  <div class=metanav>

    <h4>
        Enter pubmed search term to view statistics associated with the searchs:
    </h4>
    <div class=searchbox>
      <form id='search_form' method='post' action='/search'>
        <input type="text" name='searchterm' onkeyup="Expand(this);">
        <input type='submit' onclick="showDiv('loadingImg');" value='Submit' />
      </form>
    </div>

  </div>
  <!--<div id='b1' style="display:block" class=box1></div>
  <div id='b2' style="display:none" class=box2></div>
  <input type='submit' onclick="swapDiv('b1','b2');" value='Submit' />-->
  <center><img id="loadingImg" src="{{ url_for('static',filename='loading.gif')}}" style="display:none" /></center>
</div>
</body>
</html>
