<!doctype html>
<title>Pubmed Statistics</title>

<link rel=stylesheet type=text/css href="{{ url_for('static',filename='styleview.css')}}">

<head>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
  <script type="text/javascript">
    function Expand(obj) {
      if (!obj.savesize) obj.savesize = obj.size;
      obj.size = Math.max(obj.savesize, obj.value.length);
    }

    function showDiv(s) {
      var x = document.getElementById(s);
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }

    function swapDiv(o1, o2) {
      var d1 = document.getElementById(o1);
      var d2 = document.getElementById(o2);
      if (d1.style.display === 'none') {
        d1.style.display = 'block';
        d2.style.display = 'none';
      } else {
        d1.style.display = 'none';
        d2.style.display = 'block';
      }
    }
  </script>
  {{ script | safe }}

</head>
<div class="page">
  <h2></h2>
  <h1>Pubmed Statistics</h1>
  <div class="metanav">

    <h4>
        Enter pubmed search term to view statistics associated with the searchs:
    </h4>

    <form id='search_form' method='post' action='/search'>
      <input type="text" name='searchterm' onkeyup="Expand(this);" value="{{ searchstring }}">
      <input type='submit' onclick="showDiv('loadingImg');" value='Submit' />
    </form>
    <ul>
      {% for item in nav_id %}
      <form id='nav_form' method='post' action="/{{ item }}" method="post">
        <li class={% if curpage == item %}"active"{% else %}"inactive"{% endif %}><a href="javascript:;" onclick="parentNode.parentNode.submit(); showDiv('loadingImg');">{{ nav_name[item] }}</a></li>
      </form>
      {% endfor %}
    </ul>
  </div>

  <!-- Loading image once clicked -->
  <center><img id="loadingImg" src="{{ url_for('static',filename='loading.gif')}}" style="display:none" /></center>

  <!-- State graph page -->
  {% if curpage == "counts" %}
    {{ div.yearplot | safe }}
  {% endif %}
  {% if curpage == "geo" %}
    {{ div.stateplot | safe }}
    {{ div.stateplotnorm | safe }}
  {% endif %}
  <!-- End state graph page -->

  <!--<div id='b1' style="display:block" class=box1></div>
  <div id='b2' style="display:none" class=box2></div>
  <input type='submit' onclick="swapDiv('b1','b2');" value='Submit' />-->
</div>

</html>
